/* core global css rules*/

* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

#engage_view {
    display: none;
}

#page-cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 990;
    top: 0;
    left: 0;
}

/* loading animation container */
.loading {
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 50%;
    font-weight: bold;
}

#loadingProgressbar1, #loadingProgressbar2 {
    background-color: #9C9C9C;
}

#loading1 {
    display: none;
}

#loading2 {
    display: none;
}

.progress {
    margin: 10px 0px 0px 0px;
}

#noJavaScript-container {
    font-weight: bold;
}

#noJavaScript-container a {
    color: #843512;
    font-weight: 700;
    text-decoration: none;
}

#noJavaScript-container a:hover {
    text-decoration: underline;
    outline: 0;
}

:before, :after {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.noJavaScript {
    margin: 20px 0px 0px 20px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 350px;
}

#customError {
    margin: 20px 20px 20px 20px;
    display: none;
    width: 95%;
}

.alertify-log>ul, #customError_str>ul {
    margin-left: 40px;
    margin-right: 5px;
    margin-top: 10px;
}

#customError_btn-container {
    margin: 0 auto;
    margin: 10px;
    text-align: left;
}

#customError_str {
    margin-left: 3px;
    font-weight: bold;
}

.alert>ul {
    margin: 10px 0px 0px 50px;
}

#browserWarning {
    min-width: 200px;
    display: none;
    margin: 5%;
}

.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}

.form-control-custom {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);
    &:focus {
	z-index: 2;
    }
}

.form-signin {
    max-width: 380px;
    margin: 0 auto;
    background-color: #fff;
    /* padding: 15px 35px 45px; */
    /* border: 1px solid rgba(0,0,0,0.1); */
}

.browser-version {
    display:inline;
}
